<!DOCTYPE html>
<html lang="en" class="bg-primary">

{% include "header.html"%}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/andythomasdotpy?tab=repositories" target=”_blank”><i
                class="fab fa-fw fa-github"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/andythomasdotpy/"  target=”_blank”><i
                class="fab fa-fw fa-linkedin-in"></i></a>

        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ url_for('home')}}">Portfolio</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href=" {{ url_for('home') }}">Reach
                    Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<body>-->
<!-- About Section-->
<!--<section class="page-section bg-primary text-white mb-0" id="about">-->
<!--    <div class="container container-about ctr-about-sep">-->
<!--        <div>-->
<!--            <img class="lead-h1" src="static/assets/img/portfolio/andy-img-one.jpeg" alt="andy-img" width="300" height="300">-->
<!--        </div>-->
<!--        <div>-->
<!--        <h1 class="lead-h1">I'm a self-taught, full stack developer with an obsession for automation, big data and-->
<!--            web-design.</h1><br><br>-->
<!--        <p class="lead-p">Skills include Python, C, HTML, CSS, Bootstrap, OOP, Flask, Selenium, Beautiful Soup, Pandas-->
<!--            and more...</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<body id="page-top">-->


  <head>
    <title>The title of the document</title>
    <style>
      .container {
        display: flex;
        align-items: center;
        justify-content: center

      }
      img {
        max-width: 100%
        max-height: 100%
      }
      .image {
        flex-basis: 40%
      }

    </style>
  </head>
  <body>
    <section class="page-section bg-primary text-white mb-0" id="about">

        <div class="container container-about ctr-about-sep">
          <div class="image">
            <img class="rounded" src="static/assets/img/portfolio/andy-img-one.jpeg" alt="andy-img" width="300" height="300">
          </div>
          <div class="abt-spacing-text">
            <h1 class="lead-h1 abt-align-h1">I'm Andy, a self-taught, full stack developer with an obsession for automation, big data and web-design.</h1><br>
            <p class="lead-p abt-align-p">Skills include Python, C, HTML, CSS, Bootstrap, OOP, Flask, Selenium, Beautiful Soup, Pandas and more...</p>
          </div>
        </div>
    <section>
  </body>
</html>



